$color-primary : #2869b4; 
$color-primary-light:#6f9fd5; 
$color-primary-light-2:#6f9fd59b; 
$color-primary-dark:#2869b4; 
 
$color-primary-light-3:#6f9fd5e6;
$color-primary-dark-3:#2869b4fc; 

$color-grey-dark: #777; 
$color-white:#FFF; 
$color-black:#000; 


$color-grey-light-1:#f7f7f7; 
$color-grey-light-2:#f7f7f7;

$color-grey-dark-1:#898989;
$color-grey-dark-2:#5e5d5d;
$color-grey-dark-3:#504f4f;


$column_margin:1.8rem;
$column_gap:2.5rem;

$gutter-vertical:2.5rem;
$gutter-vertical-small:1.5rem;
$gutter-horizontal:2.5rem;


$default-font-size:16px;


$color-secondary-light:#ffb900; 
$color-secondary-dark:#2869b4; 
 
$color-tertiary-light:#2998ff; 
$color-tertiary-dark:#5643fa; 