.header { 
    height: 120vh; 
    background-image: linear-gradient(to right, rgba($color-primary-light, 0.60),rgba($color-primary-dark, 0.60)),url("../img/header-image.jpg"); 
    background-size: cover; 
    background-position: top; 
    clip-path: inset(0 0 15% 0);
    position: relative; 
 
    &__logo-box{ 
        position: absolute; 
        top: 1rem; 
        left: 4rem;  
    } 
 
    &__logo{ 
        height: 6rem;
        width: 6rem; 
        // padding-top: 0rem;
    } 
 
    &__text-box{ 
        position: absolute; 
        top:40%; 
        left:50%; 
        transform: translate(-50%,-50%);  
        text-align: center; 
    } 

    @include respond(phone){ 
        clip-path:polygon(0 0, 100% 0,100% 85vh, 0 100%); 
    }
} 


